<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dropdown</title>
  <link rel="stylesheet" href="css/dropdown-1.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function () {
      $('.menu__link, .sub-menu__link, .sub-sub-menu__link').on('click', function () {
        $(this).parent().toggleClass('active');
      });
    });
  </script>
</head>
<body>
  <div class="wrapper">

    <div class="menu">
      <ul class="menu__list">

        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>

        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>

        <li class="menu__item sub-menu">
          <a href="#" class="menu__link">Services</a>

          <ul class="sub-menu__list">
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Franchising</a>
            </li>
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Design</a>
            </li>
            <li class="sub-menu__item sub-sub-menu">
              <a href="#" class="sub-menu__link">Photography</a>

              <ul class="sub-sub-menu__list">
                <li class="sub-sub-menu__item">
                  <a href="#" class="sub-sub-menu__link">Nature</a>
                </li>
                <li class="sub-sub-menu__item">
                  <a href="#" class="sub-sub-menu__link">Architechture</a>
                </li>
                <li class="sub-sub-menu__item">
                  <a href="#" class="sub-sub-menu__link">Technology</a>
                </li>
                <li class="sub-sub-menu__item">
                  <a href="#" class="sub-sub-menu__link">Science</a>
                </li>
              </ul><!--.sub-sub-menu__list-->

            </li>
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Marketing</a>
            </li>
          </ul><!--.sub-menu__list-->

        </li>
        
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>

      </ul><!--.menu__list-->
    </div><!--.menu-->

  </div>
</body>
</html>