<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dropdown</title>
  <link rel="stylesheet" href="css/dropdown-1.css">
</head>
<body>
  <div class="wrapper">

    <div class="menu">
      <ul class="menu__list">

        <li class="menu__item">
          <a href="#" class="menu__link">Home</a>
        </li>

        <li class="menu__item">
          <a href="#" class="menu__link">About</a>
        </li>

        <li class="menu__item sub-menu">
          <a href="#" class="menu__link">Services</a>
          <ul class="sub-menu__list">
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Franchising</a>
            </li>
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Design</a>
            </li>
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Photography</a>
            </li>
            <li class="sub-menu__item">
              <a href="#" class="sub-menu__link">Marketing</a>
            </li>
          </ul>
        </li>
        
        <li class="menu__item"><a href="#" class="menu__link">Blog</a></li>

      </ul><!--.menu__list-->
    </div><!--.menu-->

  </div>
</body>
</html>