<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/components/css/nav-bar-1-practice.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $(function () {
      $('.header__burger').click(function () {
        $(this).toggleClass('active');
        $('.top-nav').toggleClass('active');
        $('body').toggleClass('lock');
      });
    });
  </script>
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="container">

        <div class="header__body">
          <div class="header__burger"><span></span></div>

          <div class="header__logo"><img src="https://via.placeholder.com/30x30" alt=""></div>
          <nav class="top-nav">

            <ul class="top-nav__list">
              <li><a href="#" class="top-nav__item">Home</a></li>
              <li><a href="#" class="top-nav__item">About</a></li>
              <li><a href="#" class="top-nav__item">Features</a></li>
              <li><a href="#" class="top-nav__item">Blog</a></li>
              <li><a href="#" class="top-nav__item">Contacts</a></li>
            </ul>

          </nav>
        </div>

      </div>
      <!--.header-->
    </header>
    <!--.container-->

    <main class="content">
      <div class="container">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod saepe recusandae eligendi dicta eveniet
          deleniti facere ratione dignissimos non accusantium. Aspernatur nam illo reprehenderit maxime eius inventore
          temporibus aliquid tempora assumenda. Velit, ullam, corporis architecto deserunt sint consequuntur quae quam
          dignissimos molestiae ducimus excepturi totam, beatae ratione impedit ad reprehenderit voluptas accusantium
          est asperiores voluptates. Soluta deserunt facilis officiis iusto? Hic velit eaque rerum ipsum odit iste sequi
          necessitatibus excepturi unde, dolorum nihil, adipisci eos delectus tempora quod cum nemo dolor! Laboriosam
          hic cupiditate ipsum facere, maxime, vitae laudantium neque alias optio et est delectus modi deserunt! Est eos
          alias amet sunt corporis exercitationem, a, vero quae odio ipsa eveniet sint? Ad ex tempora qui dolorem at a
          expedita consequuntur vero doloremque, voluptatum libero consequatur corrupti, vitae repellendus architecto
          labore. Delectus eveniet esse ab fugiat officiis, quis amet. Quaerat dignissimos porro veritatis distinctio!
          Architecto, fugit. A consequatur eius minima voluptatem animi nulla hic quas perferendis laborum corrupti,
          nemo accusantium commodi earum expedita repudiandae quod eveniet in doloribus error aperiam incidunt
          cupiditate voluptas! Ullam iusto ratione distinctio sunt voluptate officia inventore sapiente? Quia recusandae
          quas cum adipisci mollitia sint in dolores voluptates rerum rem deserunt, saepe reprehenderit? Commodi aliquam
          quis fugit.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt vero optio voluptatibus eaque culpa totam
          minima aperiam velit beatae in assumenda nulla consectetur repellat dolorem, recusandae labore cupiditate
          reprehenderit quos necessitatibus molestiae inventore ipsam a commodi! Hic, sapiente quas? Animi fuga
          consequatur similique sit neque ipsa ea suscipit veritatis perferendis labore, explicabo minus error nulla
          expedita officiis cupiditate. Minima ullam amet exercitationem iusto ipsum deleniti repellendus ipsam
          veritatis earum dicta id tempore laborum quasi magni cum quaerat fuga deserunt, placeat dolore qui dolorum
          libero autem! Aut labore quisquam alias nisi magnam harum reiciendis recusandae consequatur commodi nesciunt
          vel quod ab accusantium soluta, inventore et vero, minus autem error exercitationem sint explicabo repudiandae
          laudantium. Molestiae laborum a totam adipisci asperiores, reprehenderit nostrum hic magni accusantium harum
          quo maiores dolor, cum nisi, nesciunt eius placeat nulla possimus aspernatur sit ex odio illum autem!
          Molestiae minus distinctio repellat officia sit earum id illum dolorum blanditiis culpa dignissimos eveniet
          voluptates sed commodi voluptatibus, ratione sapiente libero corporis doloribus ad nemo in repellendus
          quaerat. Tempore tempora asperiores sed incidunt voluptatibus temporibus soluta iusto perferendis porro, ipsum
          sapiente odio repellat quam culpa velit vel iste quasi laudantium odit harum facilis tenetur exercitationem
          voluptatem! Doloribus, minus laborum!</p>
      </div><!--.container-->
    </main>

  </div>
  <!--.wrapper-->
</body>

</html>