*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
}

body {
  background-color: #333;
  color: #fff;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  padding-top: 100px;
}

.checkbox {
  position: relative;

  .checkbox__input {
    appearance: none;
    position: absolute;
  }
  .checkbox__input:checked +
  .checkbox__label:after {
    opacity: 1;
  }
  
  .checkbox__label {
    padding-left: 25px;
    user-select: none;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 4px;
      width: 18px;
      height: 18px;
      background-color: #fff;
      border-radius: 3px;
    }
    &:before {
      z-index: 1;
    }
    &:after {
      background: url('/stylization/assets/check-mark.svg') center no-repeat;
      background-size: 16px 16px;
      opacity: 0;
      transition: opacity .1s linear;
      z-index: 2;
    }
  }
}

.radio {
  position: relative;

  .radio__input {
    appearance: none;
    position: absolute;
  }

  .radio__input:checked +
  .radio__label:after {
    opacity: 1;
  }

  .radio__label {
    padding-left: 25px;
    user-select: none;
    cursor: pointer;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 3px;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #fff;
    }
    &:before {
      z-index: 1;
    }
    &:after {
      background-color: goldenrod;
      transform: scale(0.7);
      opacity: 0;
      transition: opacity 0.1s linear;
      z-index: 2;
    }
  }

}


